@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    #login #imagem {
        float: left;
        width: 30%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
        transition: 1s;
    }

    .campo > input {
        background-color: #1F2024;
        height: 109%;
        width: 89%;
        text-align: center;
        border-radius: 8px;
        border: none;
        color: antiquewhite;
        transform: translateY(-10px);
    }

    #login #imagem:hover {
        box-shadow: -7px -7px 7000px rgba(0, 0, 255, 0.473) ;
    }
    #login {
        width: 80vw;
        height: 70vh;
    }
    #formulario h1 {
        
    }
    #login #formulario {
        float: right;
        width: 70%;
    }
    #formulario p {
        font-size: 1.2em;
    }
}
@media screen and (min-width: 992px) {
    #login {
        width: 950px;
        height: 80%;
        transition: 1s;
    }

    .campo > input {
        background-color: #1F2024;
        height: 109%;
        width: 90%;
        text-align: center;
        border-radius: 8px;
        border: none;
        color: antiquewhite;
        transform: translateY(-10px);
    }

    #login #imagem {
        float: right;
        width: 50%;
        height: 100%;
        border-radius: 0px 20px 20px 0px;
        transition: 1s;
    }
    #login #imagem:hover {
        box-shadow: -7px -7px 7000px rgba(0, 0, 255, 0.473) ;
    }
    #login #formulario {
        float: right;
        width: 50%;
    }
    #login:hover {
        box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.521) ;

    }
    #formulario p {
        font-size: 1.5em;
        margin: 35px 0px;
    }
}